@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Quicksand&display=swap');

/* base styles */
*{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: rgb(27, 25, 25);
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1 px solid rgb(250, 250, 250);
}
.navbar h1{
/* font-family: 'Oswald', sans-serif; */
color: rgb(35, 111, 192);
font-size:40px;}

.navbar .links{
 margin-left: auto;
}
.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: white;
  background-color: rgb(35, 111, 192);
  border-radius: 8px;
}
.navbar a:hover{
  color:rgb(3, 6, 61) ;
}
.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20;
}

/* blog style */

.blog-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid white;
}

.blog-preview:hover{
  box-shadow: 1px 3px 5px rgb(73, 78, 83);
  border-radius: 8px;
}
.blog-preview h2{
  font-size: 25px;
  color: rgb(35, 111, 192);
  margin-bottom: 8px;
}